// $main: #131A40;
// $main-shade: #355B8C;
// $main-shade1: #081826;

// $second: #17AEBF;
// $second-shade: #30F2F2;

$main-color: #7fffd4;
$main-nuance: #96ffdc;
$main-nuance1: #7dffd4;
$main-nuance2: #26ce96;

$second-color: #b34d34;
$second-nuance: #ff977d;

$white: #ffffff;

$grey: rgb(148, 148, 148);

$black: #161616;
$white-shade: #f0f0e8;

$font-sm: 0.8rem;
$font-common: 1rem;
$font-md: 1.2rem;
$font-lg: 1.5rem;
$font-xl: 1.8rem;
$font-2xl: 2.1rem;
$font-4xl: 2.4rem;
